extends layout

block contentBody
    #banner.page-header
        .row
            .col-md-6.col-sm-12
        - var pathUrl = template.url
        case pathUrl
            when 'about-us.jade'
                h1= template.aboutUs.title
                include ./_includes/internal-pages/about-us.jade
            when 'terms-and-conditions.jade'
                h1= template.termsAndConditions.title
                include ./_includes/internal-pages/terms-and-conditions.jade
            default
                include ./_includes/internal-pages/error.jade