extends layout

block content
  div.header-wrapper
    div.header Header

  div.container
    div.row
      h1.title= title
      p Welcome to #{title}
      span #{description}

  div.footer-wrapper
    div.footer Footer
