extends layout

block contentBody
  nav(arial-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item.active
        a(href="/") Home

  div.container
    div.row
      div.col-xs-12.col-sm-12.col-md-12
        h1.title= title
        p Welcome to #{title}
        span #{description}