doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='bootstrap/css/amelia.bootstrap.min.css')

  body
    nav.navbar.navbar-expand-lg.navbar-default.navbar-fixed-top
      a.navbar-brand(href="#") Loc8r
      button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbar-main')
        span.icon-bars-wrapper
          span.icon-bar
          span.icon-bar
          span.icon-bar
      div.collapse.navbar-collapse#navbar-main
        div.navbar-nav
          a.nav-item.nav-link.active(href="/") Home
            span.sr-only (current)
          a.nav-item.nav-link(href="/about") About us
          a.nav-item.nav-link(href="/location") Location
          //- a.nav-item.nav-link(href="/location/review/new", disabled="true") Review

    //-   nav(arial-label="breadcrumb")
    //-     ol.breadcrumb
    //-       li.breadcrumb-item(class={active: breadcrumb.path === '/'})
    //-         a(class={active: breadcrumb.path === '/'} href='/') Home
    //-       li.breadcrumb-item(class={active: breadcrumb.path === '/location'})
    //-         a(class={active: breadcrumb.path === '/location'} href='/location') Loaction list
    //-       li.breadcrumb-item(class={active: breadcrumb.path === '/location/review/new'})
    //-         a(class={active: breadcrumb.path === '/location/review/new'} href='/location/review/new') Review
    //-       li.breadcrumb-item(class={active: breadcrumb.path === '/about'})
    //-         a(class={active: breadcrumb.path === '/about'} href='/about') About us

    div.container
      block contentBody

    footer.container.fixed-bottom
      div.row
        small.text--isSmall.text--isBold.col-sm-12.col-md-12.col-xs-12
          div.copyright.col-sm-4.col-md-4.col-xs-12 Loc8r
          div.developer.col-sm-4.col-md-4.col-xs-12
            span.developer--name &copy; John Lenon Nascimento da Silva 2020
          div.version.col-sm-4.col-md-4.col-xs-12
            span Code version: 1.0

    script(src='https://code.jquery.com/jquery-3.4.1.min.js'
  integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
    script(src='bootstrap/js/bootstrap.min.js')