extends layout

block contentBody
  #page__header--banner
    .row
      .col-lg-12
        h1 Loc8r
          small &nbsp;Find places to work with wifi near you!

  #location__list
    .row
      .col-xs-12.col-sm-8
        p List area.
      .col-xs-12.col-sm-4
        p Let Loc8r helps you find places to work when out and about
