mixin outputRating(rating)
    - for (var x = 0; x <= 5; x++)
        if x > rating && x !== 0
            span.glyphicon.glyphicon-star-empty
        if x <= rating && x !== 0
            span.glyphicon.glyphicon-star

mixin outputCoords(coordsObj)
    - for (var objKey in coordsObj)
        if(objKey == 'lat')
            span.badge.badge-default.d-block.mb-2= 'Lat: ' + coordsObj[objKey]
        else
            span.badge.badge-default.d-block.mb-2= 'Lng: ' + coordsObj[objKey]

mixin outputFacilities(facilities, hasBg)
    each item in facilities
        if(hasBg)
            span.label.label-warning= item
            span.d-block.p-2
        else
            span.label.label-warning
            span.glyphicon.glyphicon-ok
                span.pr-2 #{ item }
                span.d-block.p-2
