// LOCAL VARIABLES
// __________________________________________________________________

@footerHSize: 50px;
@navbarHSize: 65px;


// ALL DEVICES
// __________________________________________________________________

body {
    padding: (@navbarHSize) (@gutter) (@footerHSize);
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;

    a {
        color: @c-lightblue;
    }

    nav.navbar {
        height: @navbarHSize;
        margin-bottom: 0;
        box-shadow: 0 2px 4px rgba(25,25,25,0.7)
    }

    .breadcrumb {
        margin-bottom: 0;

        .breadcrumb-item {
            &:not(.active) {
                display: none;
            }
        }
    }

    .page-header {
        margin: (@gutter/2) 0 (@gutter);
    }

    footer.container {
        width: 100%;
        margin: 0;
        padding: 0;
        max-width: none;
        background: @c-merlot;
        box-shadow: 0 -2px 4px rgba(25,25,25,0.7)
    }
}

// MOBILE DEVICES
// __________________________________________________________________
@media (max-width: 768px) {
    #navbar-main {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 0 16px;
        margin: 0;
        background: @c-merlot;

        .navbar-nav {
            margin: 0 auto;
            padding: 8px 0;
        }
    }

    .navbar-brand {
        position: absolute;
        top: 50%;
        left: 8px;
        right: auto;
        bottom: auto;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }

    .navbar-toggler {
        position: absolute;
        top: 50%;
        right: 8px;
        left: auto;
        bottom: auto;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);

        &.collapsed {
            .icon-bars-wrapper .icon-bar {
                position: relative;
                margin-bottom: 4px;
                top: auto;
                left: auto;
                right: auto;
                transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;

                &:first-child,
                &:last-child {
                    transform: none;
                    -webkit-transform: none;
                }

                &:nth-child(2) {
                    display: block;
                    opacity: 1;
                }
            }
        }

        .icon-bars-wrapper {
            width: 40px;
            height: 40px;
            position: relative;
            display: inline-block;
            padding: 8px;

            .icon-bar {
                width: auto;
                height: 4px;
                display: block;
                position: absolute;
                top: 50%;
                bottom: auto;
                right: 8px;
                left: 8px;
                padding: 0;
                margin: 0;
                color: white;
                background: white;
                transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;

                &:first-child {
                    transform: translateY(-50%) rotate(45deg);
                    -webkit-transform: translateY(-50%) rotate(45deg);
                }

                &:last-child {
                    transform: translateY(-50%) rotate(-45deg);
                    -webkit-transform: translateY(-50%) rotate(-45deg);
                }

                &:nth-child(2) {
                    display: block;
                    opacity: 0;
                }
            }
        }
    }
}


// DESKTOP DEVICES
// __________________________________________________________________
@media (min-width: 768px) {
    footer {
        height: @footerHSize;

        small {
            & > div {
                line-height: @footerHSize;

                &:first-child {
                    text-align: left;
                }

                &:nth-child(2) {
                    text-align: center;
                }

                &:last-child {
                    text-align: right;
                }
            }
        }
    }
}

// ANIMATION
// __________________________________________________________________
@keyframes hideBar {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        display: none;
    }
}

@keyframes showBar {
    0% {
        opacity: 0;
        display: none;
    }

    30% {
        display: block;
    }

    100% {
        opacity: 1;
    }
}